/* 当屏幕宽度小于1200px时，根元素字体大小调整为10px */
@media (max-width: 1200px) {
  html, body {
    font-size: 10px;
  }
}

/* 当屏幕宽度在1200px到1210px之间时，根元素字体大小调整为13px */
@media (min-width: 1200px) and (max-width: 1210px) {
  html, body {
    font-size: 10px;
  }
}

/* 当屏幕宽度在1210px到1220px之间时，根元素字体大小调整为13px */
@media (min-width: 1210px) and (max-width: 1220px) {
  html, body {
    font-size: 10.043px;
  }
}

/* 当屏幕宽度在1220px到1230px之间时，根元素字体大小调整为13px */
@media (min-width: 1220px) and (max-width: 1230px) {
  html, body {
    font-size: 10.086px;
  }
}

/* 当屏幕宽度在1230px到1240px之间时，根元素字体大小调整为13px */
@media (min-width: 1230px) and (max-width: 1240px) {
  html, body {
    font-size: 10.129px;
  }
}

/* 当屏幕宽度在1240px到1250px之间时，根元素字体大小调整为13px */
@media (min-width: 1240px) and (max-width: 1250px) {
  html, body {
    font-size: 10.172px;
  }
}

/* 当屏幕宽度在1250px到1260px之间时，根元素字体大小调整为13px */
@media (min-width: 1250px) and (max-width: 1260px) {
  html, body {
    font-size: 10.215px;
  }
}

/* 当屏幕宽度在1260px到1270px之间时，根元素字体大小调整为13px */
@media (min-width: 1260px) and (max-width: 1270px) {
  html, body {
    font-size: 10.258px;
  }
}

/* 当屏幕宽度在1270px到1280px之间时，根元素字体大小调整为13px */
@media (min-width: 1270px) and (max-width: 1280px) {
  html, body {
    font-size: 10.301px;
  }
}

/* 当屏幕宽度在1280px到1290px之间时，根元素字体大小调整为13px */
@media (min-width: 1280px) and (max-width: 1290px) {
  html, body {
    font-size: 10.344px;
  }
}

/* 当屏幕宽度在1290px到1300px之间时，根元素字体大小调整为13px */
@media (min-width: 1290px) and (max-width: 1300px) {
  html, body {
    font-size: 10.387px;
  }
}

/* 当屏幕宽度在1300px到1310px之间时，根元素字体大小调整为13px */
@media (min-width: 1300px) and (max-width: 1310px) {
  html, body {
    font-size: 10.430px;
  }
}

/* 当屏幕宽度在1310px到1320px之间时，根元素字体大小调整为13px */
@media (min-width: 1310px) and (max-width: 1320px) {
  html, body {
    font-size: 10.473px;
  }
}

/* 当屏幕宽度在1320px到1330px之间时，根元素字体大小调整为13px */
@media (min-width: 1320px) and (max-width: 1330px) {
  html, body {
    font-size: 10.516px;
  }
}

/* 当屏幕宽度在1330px到1340px之间时，根元素字体大小调整为13px */
@media (min-width: 1330px) and (max-width: 1340px) {
  html, body {
    font-size: 10.559px;
  }
}

/* 当屏幕宽度在1340px到1350px之间时，根元素字体大小调整为13px */
@media (min-width: 1340px) and (max-width: 1350px) {
  html, body {
    font-size: 10.602px;
  }
}

/* 当屏幕宽度在1350px到1360px之间时，根元素字体大小调整为13px */
@media (min-width: 1350px) and (max-width: 1360px) {
  html, body {
    font-size: 10.645px;
  }
}

/* 当屏幕宽度在1360px到1370px之间时，根元素字体大小调整为13px */
@media (min-width: 1360px) and (max-width: 1370px) {
  html, body {
    font-size: 10.688px;
  }
}

/* 当屏幕宽度在1370px到1380px之间时，根元素字体大小调整为13px */
@media (min-width: 1370px) and (max-width: 1380px) {
  html, body {
    font-size: 10.731px;
  }
}

/* 当屏幕宽度在1380px到1390px之间时，根元素字体大小调整为13px */
@media (min-width: 1380px) and (max-width: 1390px) {
  html, body {
    font-size: 10.774px;
  }
}

/* 当屏幕宽度在1390px到1400px之间时，根元素字体大小调整为13px */
@media (min-width: 1390px) and (max-width: 1400px) {
  html, body {
    font-size: 10.817px;
  }
}

/* 当屏幕宽度在1400px到1410px之间时，根元素字体大小调整为13px */
@media (min-width: 1400px) and (max-width: 1410px) {
  html, body {
    font-size: 10.860px;
  }
}

/* 当屏幕宽度在1410px到1420px之间时，根元素字体大小调整为13px */
@media (min-width: 1410px) and (max-width: 1420px) {
  html, body {
    font-size: 10.903px;
  }
}

/* 当屏幕宽度在1420px到1430px之间时，根元素字体大小调整为13px */
@media (min-width: 1420px) and (max-width: 1430px) {
  html, body {
    font-size: 10.946px;
  }
}

/* 当屏幕宽度在1430px到1440px之间时，根元素字体大小调整为13px */
@media (min-width: 1430px) and (max-width: 1440px) {
  html, body {
    font-size: 10.989px;
  }
}

/* 当屏幕宽度在1440px到1450px之间时，根元素字体大小调整为13px */
@media (min-width: 1440px) and (max-width: 1450px) {
  html, body {
    font-size: 11.032px;
  }
}

/* 当屏幕宽度在1450px到1460px之间时，根元素字体大小调整为13px */
@media (min-width: 1450px) and (max-width: 1460px) {
  html, body {
    font-size: 11.075px;
  }
}

/* 当屏幕宽度在1460px到1470px之间时，根元素字体大小调整为13px */
@media (min-width: 1460px) and (max-width: 1470px) {
  html, body {
    font-size: 11.118px;
  }
}

/* 当屏幕宽度在1470px到1480px之间时，根元素字体大小调整为13px */
@media (min-width: 1470px) and (max-width: 1480px) {
  html, body {
    font-size: 11.161px;
  }
}

/* 当屏幕宽度在1480px到1490px之间时，根元素字体大小调整为13px */
@media (min-width: 1480px) and (max-width: 1490px) {
  html, body {
    font-size: 11.204px;
  }
}

/* 当屏幕宽度在1490px到1500px之间时，根元素字体大小调整为13px */
@media (min-width: 1490px) and (max-width: 1500px) {
  html, body {
    font-size: 11.247px;
  }
}

/* 当屏幕宽度在1500px到1510px之间时，根元素字体大小调整为13px */
@media (min-width: 1500px) and (max-width: 1510px) {
  html, body {
    font-size: 11.290px;
  }
}

/* 当屏幕宽度在1510px到1520px之间时，根元素字体大小调整为13px */
@media (min-width: 1510px) and (max-width: 1520px) {
  html, body {
    font-size: 11.333px;
  }
}

/* 当屏幕宽度在1520px到1530px之间时，根元素字体大小调整为13px */
@media (min-width: 1520px) and (max-width: 1530px) {
  html, body {
    font-size: 11.376px;
  }
}

/* 当屏幕宽度在1530px到1540px之间时，根元素字体大小调整为13px */
@media (min-width: 1530px) and (max-width: 1540px) {
  html, body {
    font-size: 11.419px;
  }
}

/* 当屏幕宽度在1540px到1550px之间时，根元素字体大小调整为13px */
@media (min-width: 1540px) and (max-width: 1550px) {
  html, body {
    font-size: 11.462px;
  }
}

/* 当屏幕宽度在1550px到1560px之间时，根元素字体大小调整为13px */
@media (min-width: 1550px) and (max-width: 1560px) {
  html, body {
    font-size: 11.505px;
  }
}

/* 当屏幕宽度在1560px到1570px之间时，根元素字体大小调整为13px */
@media (min-width: 1560px) and (max-width: 1570px) {
  html, body {
    font-size: 11.548px;
  }
}

/* 当屏幕宽度在1570px到1580px之间时，根元素字体大小调整为13px */
@media (min-width: 1570px) and (max-width: 1580px) {
  html, body {
    font-size: 11.591px;
  }
}

/* 当屏幕宽度在1580px到1590px之间时，根元素字体大小调整为13px */
@media (min-width: 1580px) and (max-width: 1590px) {
  html, body {
    font-size: 11.634px;
  }
}

/* 当屏幕宽度在1590px到1600px之间时，根元素字体大小调整为13px */
@media (min-width: 1590px) and (max-width: 1600px) {
  html, body {
    font-size: 11.677px;
  }
}

/* 当屏幕宽度在1600px到1610px之间时，根元素字体大小调整为13px */
@media (min-width: 1600px) and (max-width: 1610px) {
  html, body {
    font-size: 11.720px;
  }
}

/* 当屏幕宽度在1610px到1620px之间时，根元素字体大小调整为13px */
@media (min-width: 1610px) and (max-width: 1620px) {
  html, body {
    font-size: 11.763px;
  }
}

/* 当屏幕宽度在1620px到1630px之间时，根元素字体大小调整为13px */
@media (min-width: 1620px) and (max-width: 1630px) {
  html, body {
    font-size: 11.806px;
  }
}

/* 当屏幕宽度在1630px到1640px之间时，根元素字体大小调整为13px */
@media (min-width: 1630px) and (max-width: 1640px) {
  html, body {
    font-size: 11.849px;
  }
}

/* 当屏幕宽度在1640px到1650px之间时，根元素字体大小调整为13px */
@media (min-width: 1640px) and (max-width: 1650px) {
  html, body {
    font-size: 11.892px;
  }
}

/* 当屏幕宽度在1650px到1660px之间时，根元素字体大小调整为13px */
@media (min-width: 1650px) and (max-width: 1660px) {
  html, body {
    font-size: 11.935px;
  }
}

/* 当屏幕宽度在1660px到1670px之间时，根元素字体大小调整为13px */
@media (min-width: 1660px) and (max-width: 1670px) {
  html, body {
    font-size: 11.978px;
  }
}

/* 当屏幕宽度在1670px到1680px之间时，根元素字体大小调整为13px */
@media (min-width: 1670px) and (max-width: 1680px) {
  html, body {
    font-size: 12.021px;
  }
}

/* 当屏幕宽度在1680px到1690px之间时，根元素字体大小调整为13px */
@media (min-width: 1680px) and (max-width: 1690px) {
  html, body {
    font-size: 12.064px;
  }
}

/* 当屏幕宽度在1690px到1700px之间时，根元素字体大小调整为13px */
@media (min-width: 1690px) and (max-width: 1700px) {
  html, body {
    font-size: 12.107px;
  }
}

/* 当屏幕宽度在1700px到1710px之间时，根元素字体大小调整为13px */
@media (min-width: 1700px) and (max-width: 1710px) {
  html, body {
    font-size: 12.150px;
  }
}

/* 当屏幕宽度在1710px到1720px之间时，根元素字体大小调整为13px */
@media (min-width: 1710px) and (max-width: 1720px) {
  html, body {
    font-size: 12.193px;
  }
}

/* 当屏幕宽度在1720px到1730px之间时，根元素字体大小调整为13px */
@media (min-width: 1720px) and (max-width: 1730px) {
  html, body {
    font-size: 12.236px;
  }
}

/* 当屏幕宽度在1730px到1740px之间时，根元素字体大小调整为13px */
@media (min-width: 1730px) and (max-width: 1740px) {
  html, body {
    font-size: 12.279px;
  }
}

/* 当屏幕宽度在1740px到1750px之间时，根元素字体大小调整为13px */
@media (min-width: 1740px) and (max-width: 1750px) {
  html, body {
    font-size: 12.322px;
  }
}

/* 当屏幕宽度在1750px到1760px之间时，根元素字体大小调整为13px */
@media (min-width: 1750px) and (max-width: 1760px) {
  html, body {
    font-size: 12.365px;
  }
}

/* 当屏幕宽度在1760px到1770px之间时，根元素字体大小调整为13px */
@media (min-width: 1760px) and (max-width: 1770px) {
  html, body {
    font-size: 12.408px;
  }
}

/* 当屏幕宽度在1770px到1780px之间时，根元素字体大小调整为13px */
@media (min-width: 1770px) and (max-width: 1780px) {
  html, body {
    font-size: 12.451px;
  }
}

/* 当屏幕宽度在1780px到1790px之间时，根元素字体大小调整为13px */
@media (min-width: 1780px) and (max-width: 1790px) {
  html, body {
    font-size: 12.494px;
  }
}

/* 当屏幕宽度在1790px到1800px之间时，根元素字体大小调整为13px */
@media (min-width: 1790px) and (max-width: 1800px) {
  html, body {
    font-size: 12.537px;
  }
}

/* 当屏幕宽度在1800px到1810px之间时，根元素字体大小调整为13px */
@media (min-width: 1800px) and (max-width: 1810px) {
  html, body {
    font-size: 12.580px;
  }
}

/* 当屏幕宽度在1810px到1820px之间时，根元素字体大小调整为13px */
@media (min-width: 1810px) and (max-width: 1820px) {
  html, body {
    font-size: 12.623px;
  }
}

/* 当屏幕宽度在1820px到1830px之间时，根元素字体大小调整为13px */
@media (min-width: 1820px) and (max-width: 1830px) {
  html, body {
    font-size: 12.666px;
  }
}

/* 当屏幕宽度在1830px到1840px之间时，根元素字体大小调整为13px */
@media (min-width: 1830px) and (max-width: 1840px) {
  html, body {
    font-size: 12.709px;
  }
}

/* 当屏幕宽度在1840px到1850px之间时，根元素字体大小调整为13px */
@media (min-width: 1840px) and (max-width: 1850px) {
  html, body {
    font-size: 12.752px;
  }
}

/* 当屏幕宽度在1850px到1860px之间时，根元素字体大小调整为13px */
@media (min-width: 1850px) and (max-width: 1860px) {
  html, body {
    font-size: 12.795px;
  }
}

/* 当屏幕宽度在1860px到1870px之间时，根元素字体大小调整为13px */
@media (min-width: 1860px) and (max-width: 1870px) {
  html, body {
    font-size: 12.838px;
  }
}

/* 当屏幕宽度在1870px到1880px之间时，根元素字体大小调整为13px */
@media (min-width: 1870px) and (max-width: 1880px) {
  html, body {
    font-size: 12.881px;
  }
}

/* 当屏幕宽度在1880px到1890px之间时，根元素字体大小调整为13px */
@media (min-width: 1880px) and (max-width: 1890px) {
  html, body {
    font-size: 12.924px;
  }
}

/* 当屏幕宽度在1890px到1900px之间时，根元素字体大小调整为13px */
@media (min-width: 1890px) and (max-width: 1900px) {
  html, body {
    font-size: 12.967px;
  }
}

/* 当屏幕宽度在1900px到1910px之间时，根元素字体大小调整为13px */
@media (min-width: 1900px) and (max-width: 1910px) {
  html, body {
    font-size: 13.010px;
  }
}

/* 当屏幕宽度在1910px到1920px之间时，根元素字体大小调整为13px */
@media (min-width: 1910px) and (max-width: 1920px) {
  html, body {
    font-size: 13.053px;
  }
}

/* 当屏幕宽度在1920px到1930px之间时，根元素字体大小调整为13px */
@media (min-width: 1920px) and (max-width: 1930px) {
  html, body {
    font-size: 13.096px;
  }
}

/* 当屏幕宽度在1930px到1940px之间时，根元素字体大小调整为13px */
@media (min-width: 1930px) and (max-width: 1940px) {
  html, body {
    font-size: 13.139px;
  }
}

/* 当屏幕宽度在1940px到1950px之间时，根元素字体大小调整为13px */
@media (min-width: 1940px) and (max-width: 1950px) {
  html, body {
    font-size: 13.182px;
  }
}

/* 当屏幕宽度在1950px到1960px之间时，根元素字体大小调整为13px */
@media (min-width: 1950px) and (max-width: 1960px) {
  html, body {
    font-size: 13.225px;
  }
}

/* 当屏幕宽度在1960px到1970px之间时，根元素字体大小调整为13px */
@media (min-width: 1960px) and (max-width: 1970px) {
  html, body {
    font-size: 13.268px;
  }
}

/* 当屏幕宽度在1970px到1980px之间时，根元素字体大小调整为13px */
@media (min-width: 1970px) and (max-width: 1980px) {
  html, body {
    font-size: 13.311px;
  }
}

/* 当屏幕宽度在1980px到1990px之间时，根元素字体大小调整为13px */
@media (min-width: 1980px) and (max-width: 1990px) {
  html, body {
    font-size: 13.354px;
  }
}

/* 当屏幕宽度在1990px到2000px之间时，根元素字体大小调整为13px */
@media (min-width: 1990px) and (max-width: 2000px) {
  html, body {
    font-size: 13.397px;
  }
}

/* 当屏幕宽度在2000px到2010px之间时，根元素字体大小调整为13px */
@media (min-width: 2000px) and (max-width: 2010px) {
  html, body {
    font-size: 13.440px;
  }
}

/* 当屏幕宽度在2010px到2020px之间时，根元素字体大小调整为13px */
@media (min-width: 2010px) and (max-width: 2020px) {
  html, body {
    font-size: 13.483px;
  }
}

/* 当屏幕宽度在2020px到2030px之间时，根元素字体大小调整为13px */
@media (min-width: 2020px) and (max-width: 2030px) {
  html, body {
    font-size: 13.526px;
  }
}

/* 当屏幕宽度在2030px到2040px之间时，根元素字体大小调整为13px */
@media (min-width: 2030px) and (max-width: 2040px) {
  html, body {
    font-size: 13.569px;
  }
}

/* 当屏幕宽度在2040px到2050px之间时，根元素字体大小调整为13px */
@media (min-width: 2040px) and (max-width: 2050px) {
  html, body {
    font-size: 13.612px;
  }
}

/* 当屏幕宽度在2050px到2060px之间时，根元素字体大小调整为13px */
@media (min-width: 2050px) and (max-width: 2060px) {
  html, body {
    font-size: 13.655px;
  }
}

/* 当屏幕宽度在2060px到2070px之间时，根元素字体大小调整为13px */
@media (min-width: 2060px) and (max-width: 2070px) {
  html, body {
    font-size: 13.698px;
  }
}

/* 当屏幕宽度在2070px到2080px之间时，根元素字体大小调整为13px */
@media (min-width: 2070px) and (max-width: 2080px) {
  html, body {
    font-size: 13.741px;
  }
}

/* 当屏幕宽度在2080px到2090px之间时，根元素字体大小调整为13px */
@media (min-width: 2080px) and (max-width: 2090px) {
  html, body {
    font-size: 13.784px;
  }
}

/* 当屏幕宽度在2090px到2100px之间时，根元素字体大小调整为13px */
@media (min-width: 2090px) and (max-width: 2100px) {
  html, body {
    font-size: 13.827px;
  }
}

/* 当屏幕宽度在2100px到2110px之间时，根元素字体大小调整为13px */
@media (min-width: 2100px) and (max-width: 2110px) {
  html, body {
    font-size: 13.870px;
  }
}

/* 当屏幕宽度在2110px到2120px之间时，根元素字体大小调整为13px */
@media (min-width: 2110px) and (max-width: 2120px) {
  html, body {
    font-size: 13.913px;
  }
}

/* 当屏幕宽度在2120px到2130px之间时，根元素字体大小调整为13px */
@media (min-width: 2120px) and (max-width: 2130px) {
  html, body {
    font-size: 13.956px;
  }
}

/* 当屏幕宽度在2130px到2140px之间时，根元素字体大小调整为13px */
@media (min-width: 2130px) and (max-width: 2140px) {
  html, body {
    font-size: 13.999px;
  }
}

/* 当屏幕宽度在2140px到2150px之间时，根元素字体大小调整为13px */
@media (min-width: 2140px) and (max-width: 2150px) {
  html, body {
    font-size: 14.042px;
  }
}

/* 当屏幕宽度在2150px到2160px之间时，根元素字体大小调整为13px */
@media (min-width: 2150px) and (max-width: 2160px) {
  html, body {
    font-size: 14.085px;
  }
}

/* 当屏幕宽度在2160px到2170px之间时，根元素字体大小调整为13px */
@media (min-width: 2160px) and (max-width: 2170px) {
  html, body {
    font-size: 14.128px;
  }
}

/* 当屏幕宽度在2170px到2180px之间时，根元素字体大小调整为13px */
@media (min-width: 2170px) and (max-width: 2180px) {
  html, body {
    font-size: 14.171px;
  }
}

/* 当屏幕宽度在2180px到2190px之间时，根元素字体大小调整为13px */
@media (min-width: 2180px) and (max-width: 2190px) {
  html, body {
    font-size: 14.214px;
  }
}

/* 当屏幕宽度在2190px到2200px之间时，根元素字体大小调整为13px */
@media (min-width: 2190px) and (max-width: 2200px) {
  html, body {
    font-size: 14.257px;
  }
}

/* 当屏幕宽度在2200px到2210px之间时，根元素字体大小调整为13px */
@media (min-width: 2200px) and (max-width: 2210px) {
  html, body {
    font-size: 14.300px;
  }
}

/* 当屏幕宽度在2210px到2220px之间时，根元素字体大小调整为13px */
@media (min-width: 2210px) and (max-width: 2220px) {
  html, body {
    font-size: 14.343px;
  }
}

/* 当屏幕宽度在2220px到2230px之间时，根元素字体大小调整为13px */
@media (min-width: 2220px) and (max-width: 2230px) {
  html, body {
    font-size: 14.386px;
  }
}

/* 当屏幕宽度在2230px到2240px之间时，根元素字体大小调整为13px */
@media (min-width: 2230px) and (max-width: 2240px) {
  html, body {
    font-size: 14.429px;
  }
}

/* 当屏幕宽度在2240px到2250px之间时，根元素字体大小调整为13px */
@media (min-width: 2240px) and (max-width: 2250px) {
  html, body {
    font-size: 14.472px;
  }
}

/* 当屏幕宽度在2250px到2260px之间时，根元素字体大小调整为13px */
@media (min-width: 2250px) and (max-width: 2260px) {
  html, body {
    font-size: 14.515px;
  }
}

/* 当屏幕宽度在2260px到2270px之间时，根元素字体大小调整为13px */
@media (min-width: 2260px) and (max-width: 2270px) {
  html, body {
    font-size: 14.558px;
  }
}

/* 当屏幕宽度在2270px到2280px之间时，根元素字体大小调整为13px */
@media (min-width: 2270px) and (max-width: 2280px) {
  html, body {
    font-size: 14.601px;
  }
}

/* 当屏幕宽度在2280px到2290px之间时，根元素字体大小调整为13px */
@media (min-width: 2280px) and (max-width: 2290px) {
  html, body {
    font-size: 14.644px;
  }
}

/* 当屏幕宽度在2290px到2300px之间时，根元素字体大小调整为13px */
@media (min-width: 2290px) and (max-width: 2300px) {
  html, body {
    font-size: 14.687px;
  }
}

/* 当屏幕宽度在2300px到2310px之间时，根元素字体大小调整为13px */
@media (min-width: 2300px) and (max-width: 2310px) {
  html, body {
    font-size: 14.730px;
  }
}

/* 当屏幕宽度在2310px到2320px之间时，根元素字体大小调整为13px */
@media (min-width: 2310px) and (max-width: 2320px) {
  html, body {
    font-size: 14.773px;
  }
}

/* 当屏幕宽度在2320px到2330px之间时，根元素字体大小调整为13px */
@media (min-width: 2320px) and (max-width: 2330px) {
  html, body {
    font-size: 14.816px;
  }
}

/* 当屏幕宽度在2330px到2340px之间时，根元素字体大小调整为13px */
@media (min-width: 2330px) and (max-width: 2340px) {
  html, body {
    font-size: 14.859px;
  }
}

/* 当屏幕宽度在2340px到2350px之间时，根元素字体大小调整为13px */
@media (min-width: 2340px) and (max-width: 2350px) {
  html, body {
    font-size: 14.902px;
  }
}

/* 当屏幕宽度在2350px到2360px之间时，根元素字体大小调整为13px */
@media (min-width: 2350px) and (max-width: 2360px) {
  html, body {
    font-size: 14.945px;
  }
}

/* 当屏幕宽度大于2360px时，根元素字体大小调整为15px */
@media (min-width: 2360px) {
  html, body {
    font-size: 15px;
  }
}
